<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Save Pepe</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600" rel="stylesheet">
    <body>
        <header>
            <nav id="main-nav">
                <a href="javascript:void(0)" class="option" id="logout">LOG OUT</a>
                <a href="/profile" class="option">VIEW PROFILE</a>
                <a href="/petition" class="option">SIGN PETITION</a>
                <img id="pepe-icon" src="../assets/sadpepe-icon.jpg" height="30" width="30" href="/petition">
            </nav>
        </header>
        <main>
            {{{body}}}
        </main>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="/script.js"></script>
    </body>
</html>
