<h2>We'd Love to Know More</h2>

    {{#error}}
        <div class="error-message">Something went wrong. Please try again!</div>
    {{/error}}

<form method="POST" id="profile-form">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">

    <label for="age" class="input-labels">Age:<br>
        <input type="text" name="age" id="age">
    </label><br>
    <label for="city" class="input-labels">City:<br>
        <input type="text" name="city" style="text-transform:uppercase" id="city">
    </label><br>
    <label for="homepage" class="input-labels">Homepage URL:<br>
        <input type="text" name="homepage" id="homepage">
    </label><br>
    <div id="continue-button">
        <input class="input-button" type="submit" value="CONTINUE">
    </div>
</form>
