<h1>Save Pepe the Frog from the Alt-Right</h1>
<p><em>“Pepe is going to live on regardless of whether we put him in a casket in a cartoon.”</em><br>
&mdash; Oren Segal, director of the Anti-Defamation League’s Center on Extremism
    <div id="welcome-buttons">
        <form class="welcome-buttons" method="GET" action="/register">
            <input class="input-button" type="submit" value="JOIN US">
        </form>

        <form id="login-welcome" class="welcome-buttons" method="GET" action="/login">
            <input class="input-button" type="submit" value="LOG IN">
        </form>
    </div>
