<h1>Save Pepe the Frog from the Alt-Right</h1>
<p>He never asked for this. He doesn't deserve this.
    <!-- <a href="#" id="full-story"> Read the full story. -->
    <div id="welcome-buttons">
        <form class="welcome-buttons" method="GET" action="/register">
            <input class="input-button" type="submit" value="JOIN US">
        </form>

        <form id="login-welcome" class="welcome-buttons" method="GET" action="/login">
            <input class="input-button" type="submit" value="LOG IN">
        </form>
    </div>
